.banner-pad {
    padding: 200px;
}

.main-h1 {
    font-size: 64px;
    color: #ffc107;
    font-weight: bold;
    margin-top: -24px;
    text-transform: uppercase;
    font-family: "Starzone", sans-serif;
}

@media screen and (max-width: 480px){
.main-h1 {
    font-size: 25px;
    margin-top: -23px;
}

}

@media screen and (max-width: 1366px) {
.main-h1 {
    font-size: 50px;
    color: #ffc107;
    font-weight: bold;
    margin-top: 0;
    font-family: "Starzone", sans-serif;
    text-transform: uppercase;
}

}